.image{
    float: left;
    width: 50px;
    height: 50px;
}
a:hover{
    cursor: pointer;
}
.search{
    float: right;
    padding: 0.5rem 2rem;
    background-color: #c4c4c4;
    border-radius: 15px;
}
.mini{
    margin-right: 1.5rem;
}
.sea{
    margin-left: 1.5rem;
}
hr{
    width: 90%;
    background-color: #dddddd;
    border: none;
    border-radius: 2px;
    height: 0.3rem;
}
.parallels{
    display: flex;
    flex-direction: row;
}
.divs{
    padding: 0.1rem 0.5rem;
    background-color:#868686;
    width: 5%;
}
.meds{
    text-align: center;
}
.sections{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.line-sections{
    margin-left: 2rem;
}
.parallel-lines{
    margin-top: 2rem;
}
.first-ls{
    color: #ffffff;
    padding: 0.1rem 4rem;
    background-color:#868686;
    margin: 2rem 0 0 0;
    /* width: 12%; */
}
.ls-p{
    margin: 0 0 0 -4rem;
    padding: 0;
    font-size: 12px;
    color: #ffffff;
}
.second-ls{
    padding: 0 2rem;
    background-color:#dddddd;
    margin: 1rem 0 0 0;
    width: 20%;
}
.ls-p-2{
    margin: 0 0 0 -2rem;
    padding: 0;
    font-size: 10px;
    color: #000000;
}
.pls{
    padding: 0.1rem 2.1rem;
    background-color:#dddddd;
    width: 50%;
}
.image-portal{
    width: 50%;
    height: 50vh;
    background-color: #3ec6ff;
}
.views{
    text-align: center;
}
.potrait-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 4rem;
}
.potrait{
    border-radius: 50%;
    border: none;
    width: 28vw;
    height: 20vh;
    margin-left: 2rem;
    background-color: #3ec6ff;
}
footer{
    background-color: #3ec6ff;
    margin: auto;
    width: 90%;
    height: 10vh;
    margin-bottom: 3rem;
}
.footers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.first-side{
    width: 25%;
    margin: 0 0 0 0.5rem;
}
.second-side{
    margin: 0 0.5rem 0 0;
}
.hr1,
.hr4{
    padding: 0.1rem 2.1rem;
    background-color:#868686;
    width: 15vw;
}
.hr2, .hr3{
    padding: 0.1rem 2rem;
    background-color:#d8d8d8;
    width: 8vw;
    margin-left: 0.5rem;
}
.hr5, .hr6{
    padding: 0.1rem 2rem;
    background-color:#d8d8d8;
    width: 7vw;
}
@media only screen and (min-width: 768px) {
    hr.start-line{
        margin-left: 10px;  
    }
    hr.end-line{
        margin-right: 60px;
    }
    .first-side, .second-side{
        width: 28%;
        border-radius: 0px;
    }
    .image-portal{
        margin-left: 3rem;
    }   
    .first-ls{
        width: 40%;
    }
    .second-ls{
        width: 20%;
    }
    .pls{
        width: 30vw;
    }
    .potrait-section{
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 4rem;
    }
    .potrait{
        width: 15vw;
        height: 17vh;
    }
    .parallel-lines{
        margin-top: 3rem;
    }
    .footers{
        width: 100%;
    }
    .second-side{
        margin-right: -0.5rem;
    }
    .hr1{
        width: 63%;
        margin: 0.5rem 1rem 0 0;
    }
    .hr4{
        width: 63%;
    }
    .hr2, .hr3, .hr5, .hr6{
        width: 54%;
    }
    footer{
        height: 80%;
        width: 95%;
        margin-bottom: 1rem;
    }
}
