/*
*
* =====================
* FONTS
* =====================
*
*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*
*
* =====================
* GENERAL
* =====================
*
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.img-fluid {
    max-width: 100%;
    min-height: auto;
}

/*
*
* =====================
* BODY
* =====================
*
*/
body {
    background: #f9f9f9;
}

body .disabledScroll {
    overflow-y: hidden;
}

/*
*
* =====================
* NAVIGATION
* =====================
*
*/

.header {
    background-color: #f9f9f9;
}

.header .site-header__start .brand {
    width: 12rem;
    height: 2rem;
    padding: 0 0.63rem;
}

.site-header__wrapper-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.form-control {
    background-color: #D8D8D8;
    border: none;
    outline: none;
    border-radius: 1.9rem;
}

.search-bar  {
    position: relative;
    width: 18.7rem;
    height: 3rem;
}

.search-bar .form-control {
    top: 0.5rem;
    left: 0;
    width: 89%;
    position: absolute;
    padding: 0.5rem 0.9rem;
}

.search-bar .btn-icon {
    position: absolute;
    top: 0;
    width: 3.7rem;
    height: 100%;
    cursor: pointer;
}

.search-bar .search-icon .fas {
    z-index: 999;
    position: absolute;
    top: 46%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: gray;
}

.search-bar .form-control {
    padding-left: 2.5rem;
}

.form-control::placeholder {
    color: gray;
    font-weight: bold;
}


@media screen and (max-width:860px) {
    .site-header__end .search-bar .search-icon .fas {
        top: 52%;
    }
    
}

.site-header__bottom {
    position: relative;
}

.site-header__bottom .brand {
    display: none;
}

.site-header__wrapper, .site-header__wrapper-top {
    padding: .5rem;
}

.nav {
    margin: 0 1rem;
}

.nav .nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item a {
    display: block;
    padding: 1.5rem 1.25rem;
    color: #383838;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
}

.nav__item a::after {
    content: "";
    background: #5CB85C;
    width: 0;
    height: 0.12rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
} 

.nav__item a:hover::after {
    width: 100%;
}

.nav .nav__wrapper .nav__item > .sub-menu > .nav__item > a:hover::after {
    width: 0;
}

.nav .nav__wrapper .nav__item > .sub-menu {
    border: 2px solid #5CB85C;
    width: 15rem;
    position: absolute;
    top: 5.3rem;
    right: 48rem;
    padding: 0.62rem 0;
    background-color: #f9f9f9;
    transform: translateY(0.62rem);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.nav .nav__wrapper > .sub-menu-parent:hover > .sub-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.nav .nav__wrapper .nav__item > .sub-menu > .nav__item > a {
    display: block;
    padding: 0.62rem 1.25rem;
    color: #383838;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #5CB85C;
}

.last {
    border-bottom: none!important;
}

.header .open-btn {
    padding-right: 3rem;
    cursor: pointer;
    display: none;
} 

.site-header__middle .icon {
    font-size: 2rem;
    color: #5CB85C;
}

.wrapper .menu-overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.wrapper .menu-overlay .show {
    visibility: visible;
    opacity: 1;
}



@media screen and (max-width: 860px) {
    

    .header .open-btn {
        display: block;
    }

    .nav__wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 1;
        background-color: #222;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }

    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    .site-header__middle {
        display: flex;
        justify-content: space-between;
    }
    

    .nav .nav__wrapper {
        display: block;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-bottom: 2rem;
    }

    .nav .nav__wrapper a {
        border-bottom: 1px solid gray;
    }

    .nav .nav__wrapper .nav__item > .sub-menu > .nav__item > a {
        color: #FFF;
        text-align: left;
        border-bottom: none;
        padding: 0.93rem 2.8rem;
        font-size: .94rem;
        text-transform: capitalize;
    }

    .nav__item a:hover::after {
        width: 0;
    }
    
    .nav .nav__wrapper .nav__item > .sub-menu > .nav__item > a:hover::after {
        width: 0;
    }

    .nav__item a:hover,
    .nav .nav__wrapper .nav__item > .sub-menu > .nav__item > a:hover {
        color: #5CB85C;
    }

    .nav .nav__wrapper .nav__item > .sub-menu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        top: auto;
        border: none;
        color: #FFF;
        background-color: transparent;
        transform: translateY(0px);
        padding: 0;
        left: 0;
        max-height: 0;
        overflow: hidden;
    }

    nav .nav__wrapper a {
        color: #FFF;
    }

    .site-header__wrapper-top {
        padding: .5rem 0;
    }

    .header .site-header__start .brand {
        padding: 0;
    }



}


/*
*
* =====================
* HERO SECTION
* =====================
*
*/
.hero {
    width: 100%;
    height: 65rem;
    color: white;
    margin: 0 auto;
    background: url("/Assets/imgs/unnamed\ 1.png") no-repeat center / cover;
   
}

.hero-content {
    width: 90%;
    height: inherit;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-info {
    margin-top: 10rem;
}

.hero-content .hero-info h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .3rem;
    line-height: 4.5rem;
    margin-bottom: 5rem;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}

.hero-content .hero-info a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    background-color: #5CB85C;
    padding: 1rem 3rem;
    border-radius: 2rem;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }

    .hero-content .hero-info h1 {
        font-size: 3rem;
        letter-spacing: normal;
    }


}

/*
*
* =====================
* MAIN
* =====================
*
*/
.news {
    width: 95%;
    margin: 4rem auto;
   
}

.news h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.news-content {
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.news-img {
    width: 100%;
}


.news-content .news-info p {
    max-width: 100%;
    margin: 1rem 0;
}

.news-content .news-info a {
    color: white;
    text-align: center;
    display: inline-block;
    background-color: #5CB85C;
    padding: .5rem 1rem;
    border-radius: 2rem;
}

@media screen and (max-width: 768px) {
    .news-content {
        grid-template-columns: 1fr;
    }
}


/*
*
* =====================
* FOOTER
* =====================
*
*/
.footer {
    width: 100%;
}

.footer-info {
    width: 100%;
    padding: 2rem;
    border-top: 2px solid #5CB85C;
    background-color: #FFF;
}

.footer-content-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    max-width: 50%;
    color: #5CB85C;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.footer-content-two {
    padding: 4rem 4rem;
    font-size: 1rem;
    background-color: #5CB85C;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-copyright {
    margin-right: .3rem;
}

.footer-nav p {
    color: white;
    text-transform: uppercase;
}

.footer-nav a {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-size: .9rem;
    font-weight: 500;
    padding: 0.6rem;
}


@media screen and (max-width: 1000px) {
    .footer-text {
        max-width: 100%;
        font-size: 2rem;
    }
}

@media screen and (max-width:450px) {
    .footer-text {
        max-width: 100%;
        font-size: 1.3rem;
    }

    .footer-img {
        width: 30%;
    }

    .footer-content-two {
        padding: 3rem 2rem;
    
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
    }

    .footer-nav a, i {
        padding: 1rem 0;
    }
    
}

