                    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
                    body {
                        font-family: 'Roboto', sans-serif;
                        box-sizing: border-box;
                    }
                    
                    html,
                    body {
                        max-width: 100%;
                        overflow-x: hidden;
                        overflow-y: scroll;
                    }
                    
                    .logo {
                        position: relative;
                        top: 1.5rem;
                    }
                    /*Search bar*/
                    
                    .searchBox {
                        float: right;
                        position: relative;
                        bottom: 40px;
                    }
                    
                    input[type=text] {
                        padding: 6px;
                        padding-left: 13px;
                        margin-top: 8px;
                        font-size: 17px;
                        border: none;
                        background-color: #D8D8D8;
                        border-radius: 30px;
                    }
                    
                    .searchBox button {
                        position: absolute;
                        right: 5px;
                        top: 15px;
                        border: none;
                        border-radius: 10px;
                    }
                    /*Navigation Bar*/
                    
                    .navbar {
                        width: 100%;
                        font-weight: 300;
                        display: flex;
                        justify-content: space-evenly;
                        padding-bottom: 2rem;
                        background: #ffffff;
                        color: #000000;
                    }
                    
                    .navbar a {
                        color: #000000;
                        text-decoration: none;
                    }
                    
                    .navbar a:hover {
                        border-bottom: 3px solid #5CB85C;
                    }
                    
                    .navbar a.active {
                        border-bottom: 3px solid #5CB85C;
                    }
                    /* Dropdown Button */
                    
                    .dropbtn {
                        background-color: #ffffff;
                        color: #000000;
                        font-size: 16px;
                        border: solid;
                        cursor: pointer;
                    }
                    /* Dropdown button on hover & focus */
                    
                    .dropbtn:hover,
                    .dropbtn:focus {
                        background-color: #ffffff;
                    }
                    /* The container <div> - needed to position the dropdown content */
                    
                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }
                    /* Dropdown Content (Hidden by Default) */
                    
                    .dropdown-content {
                        display: none;
                        position: relative;
                        background-color: #f1f1f1;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        z-index: 1;
                    }
                    /* Links inside the dropdown */
                    
                    .dropdown-content a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                    }
                    /* Change color of dropdown links on hover */
                    
                    .dropdown-content a:hover {
                        background-color: #ddd
                    }
                    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
                    
                    .show {
                        display: block;
                    }
                    /*INEC logo*/
                    
                    .inec {
                        height: 80%;
                        border-top: 3px solid #5CB85C;
                    }
                    
                    * *
                    /*footer*/
                    
                    footer {
                        width: 100%;
                        font-weight: 300;
                        display: flex;
                        justify-content: space-evenly;
                        padding: 2rem;
                        background: #5CB85C;
                        color: #FFFFFF;
                        align-self: baseline;
                        /*border-top: 4px solid var(--main-red);
    */
                    }
                    
                    footer>p {
                        margin: 2rem;
                    }
                    
                    @media (max-width: 28.75em) {
                        footer {
                            flex-direction: column;
                            text-align: center;
                        }
                    }